/* -------------HOVER CLASSES--------------- */

form>input:hover {
    border: 1px solid var(--primaryColor);
}

form>input:focus {
    border: 1px solid var(--primaryColor);
}

.submit-btn:hover {
    border: 2px solid var(--primaryColor);
    font-weight: 800;
    color: var(--primaryColor);
    background-color: white
}

/* -------------ROOT--------------- */
.root {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

/* -------------lOGIN FORM--------------- */
form {
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 20px;
}

form>p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primaryColor);
    font-weight: 700
}

form>input {
    padding-left: 10px;
    display: block;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    outline: none;
    height: 7vh;
    width: 35vw;
    margin-top: 30px;

}

.submit-btn {
    padding-left: 0;
    border: none;
    color: white;
    background-color: var(--primaryColor);
}